<?xml version="1.0"?>
<config>
    <modules>
        <Nexcess_UnderAttack>
            <version>1.0.0</version>
        </Nexcess_UnderAttack>
    </modules>
    <frontend>
        <events>
            <controller_action_predispatch_catalogsearch><!-- observe the event -->
                <observers>
                    <underattack>
                        <class>underattack/observer</class>
                        <method>areUaHuman</method>
                    </underattack>
                </observers>
            </controller_action_predispatch_catalogsearch>
        </events>
    </frontend>
    <global>
        <helpers>
            <underattack>
                <class>Nexcess_UnderAttack_Helper</class>
            </underattack>
        </helpers>
        <models>
            <underattack>
                <class>Nexcess_UnderAttack_Model</class>
                <resourceModel>underattack_resource</resourceModel>
            </underattack>
            <underattack_resource>
                <class>Nexcess_UnderAttack_Model_Resource</class>
                <entities>
                    <ip>
                        <table>nexcess_underattack_ip</table>
                    </ip>
                </entities>
            </underattack_resource>
        </models>
        <resources>
            <underattack_setup>
                <setup>
                    <module>Nexcess_UnderAttack</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </underattack_setup>
            <underattack_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </underattack_write>
            <underattack_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </underattack_read>
        </resources>
    </global>
</config>
